<?xml version="1.0" encoding="UTF-8"?>
<config team="Shyzkanza" color="FF6600">
	<icon name="icone.png"/>
	<sound name="shyz.wav"/>
	<waragents>
		<warexplorer name="BrainExplorer.class"/>
		<warrocketlauncher name="BrainRocketLauncher.class"/>
		<warbase name="BrainBase.class"/>
	</waragents>
</config>